# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
/.dart_tool/
/.idea/
/.vscode/
.DS_Store
/pubspec.lock
/test_run.txt
/coverage/
/analyze.txt
/test.txt
/.claude/settings.local.json
